@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la aplicación de Espacios</h1>
    <p>Haz clic en el siguiente enlace para ver los espacios disponibles:</p>
    <a href="/Espacios" class="btn btn-primary">Ver Espacios</a>
</div>
