@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!--
    <h1 class="display-4">Bienvenido a la aplicación de Espacios</h1>
    <p>Haz clic en el siguiente enlace para ver los espacios disponibles:</p>
    <a href="/Espacios" class="btn btn-primary">Ver Espacios</a>-->
    <h1 class="display-4">Redirigiendo...</h1>
    <script>
        // Redirigir automáticamente a la vista de los espacios
        window.location.href = "/Espacios"; // Asegúrate de que esta sea la URL correcta
    </script>
</div>

